html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Arial";
  background-color: #3B3736;
  height: 100%;
  color: #FEFEFE;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.page-header {
  height: 600px;
  background-image: url("img/hero-bg(mh1).jpg");
  background-repeat: no-repeat;
  background-size: 110%;
  margin-bottom: 50px;
}

.page-header .container {
  position: relative;
}

.page-header .container:before {
  content: "";
  position: absolute;
  right: 200px;
  display: block;
  width: 200px;
  height: 200px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.page-header .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.header-title {
  font-size: 75px;
  margin: 0;
  color: #15388B;
}

.header-subtitle {
  font-size: 30px;
  margin: 0;
}

.card {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 8px;
}

.card:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 180px;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  left: 57.7%;
}

.card:nth-of-type(2):before {
  background-color: rgba(21, 56, 139, 0.6);
}

.card:nth-of-type(2):after {
  background-color: rgba(21, 56, 139, 0.6);
}

.card:after {
  content: "";
  position: absolute;
  width: 500%;
  height: 8px;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  right: 25%;
  bottom: -8px;
}

.card:nth-child(2n):before {
  left: auto;
  right: 57.7%;
}

.card:nth-child(2n):after {
  left: 25%;
  right: auto;
}

.card:last-of-type:after, .card:last-of-type:before {
  display: none;
}

.card .flex {
  display: flex;
}

.card__title {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.card-title {
  font-size: 48px;
  text-align: center;
  position: relative;
  z-index: 2;
  padding-bottom: 30px;
}

.card__content {
  margin-left: auto;
  flex: 0 1 40%;
  max-width: 50%;
}

.card__content:nth-child(2n) {
  margin-left: 0;
  margin-right: auto;
}

.card-content {
  position: relative;
  z-index: 2;
  padding: 10px;
}

.about-me {
  background-image: url("files/my photo(mono).jpg");
  background-repeat: no-repeat;
  background-position: 30% 150px;
  background-size: 60%;
}

.card-content {
  font-size: 18px;
  line-height: 28px;
}

.skills-list {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;
}

.skills {
  flex-direction: column;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.skill-js {
  background: url("img/icon-js.svg") 22px/24px;
}

.level {
  margin: 4px 0 36px;
  padding: 0;
  height: 24px;
  font-size: 0;
  background-color: rgba(225, 225, 225, 0.4);
  border: 1px solid #fff;
  transform: skewX(45deg);
}

.level div {
  margin: 1px;
  height: 22px;
  background-color: rgba(21, 56, 139, 0.9);
  background-image: linear-gradient(to right, rgba(21, 56, 139, 0.9) 0, rgba(21, 56, 139, 0.9) 85px, rgba(21, 56, 139, 0) 85px, rgba(21, 56, 139, 0) 100px, rgba(21, 56, 139, 0.9) 100px);
  background-size: 100px 100%;
  background-repeat: repeat-x;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
}

.portfolio-item {
  display: flex;
}

.project-image {
  min-width: 200px;
}

.portfolio__prev-img {
  max-width: 100%;
}

.portfolio {
  height: 700px;
}

.portfolio .flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.portfolio__card {
  display: block;
  flex: 1 0 45%;
  padding: 10px;
  height: 400px;
}

.portfolio__title {
  color: #FEFEFE;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.portfolio__card:hover > .portfolio__title {
  color: rgba(254, 254, 254, 0.5);
}

.portfolio__card:visited > .portfolio__title {
  color: rgba(222, 222, 222, 0.5);
}

.project {
  background: transparent url("files/project.jpg") no-repeat 50% 50%;
  background-size: 130%;
  transition: all .3s;
}

.project:hover{
  background-size: 150%;
}

a {
  text-decoration: none;
}

a::visited {
  text-decoration: none;
}

.navbar-line {
  background-color: transparent;
}

.navbar {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.navbar-item a {
  color: #D7D7D7;
  letter-spacing: 5px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-item:not(:last-child) {
  margin-right: 20px;
}

.navbar-item a:hover {
  color: #9D9FD0;
}

.navbar-item a:active {
  color: #8081A9;
}

.flex {
  display: flex;
  align-items: center;
}

.page-footer {
  margin-top: auto;
  flex: 1 0 100%;
  padding: 20px;
  background: #3D3D49;
}

.page-footer a {
  color: #EAEBED;
}

.page-footer a:hover {
  color: #D5D6D8;
}

.page-footer a:not(:last-child) {
  margin-right: 30px;
}

.page-footer a:nth-child(3) {
  margin-right: 0;
}

.page-footer .flex {
  flex-wrap: nowrap;
}

.footer-email {
  padding-left: 30px;
  background: transparent url("img/icon-email-footer.svg") no-repeat;
  background-position: 0 50%;
}

.footer-phone {
   padding-left: 30px;
  background: transparent url("img/icon-phone-footer.svg") no-repeat;
  background-position: 0 50%;
}

.shared {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 7px;
}

.link-vk {
  background: #5181B8 url("img/icon-vk.svg") no-repeat 50% 50%;
  margin-left: auto;
}

.link-git {
  flex-grow: 0;
  border: solid 1px #000;
  background: transparent url("img/icon-github.svg") no-repeat 50% 50%;
  margin-left: 20px;
}